<div class="flex flex-row justify-center">
  <div class="stack absolute w-11/12 xs:w-1/2 m-4">
    {{!-- Show errors --}}
    {{#if flashErrors }}
      {{#each flashErrors }}
        {{> alert type="alert-error" text=this }}
      {{/each}}
    {{/if}}
    {{!-- Show success messages --}}
    {{#if flashSuccesses }}
      {{#each flashSuccesses }}
        {{> alert type="alert-success" text=this }}
      {{/each}}
    {{/if}}
  </div>
</div>