<div class="min-h-screen w-full flex flex-col items-center justify-center bg-base-200">
  <div class="flex flex-col gap-8 w-11/12 max-w-7xl my-16">
    <div>
      <h1 class="text-2xl font-semibold mb-4">About Us</h1>
      <div>
        <p class="text-left text-xl">
          Here at UBlog, we share the belief that everyone has a story to tell. With that, we decided to make it easy for people from around the globe to share that story.
          Whether it's someone sharing their experience doing a cross country road trip, someone's advice for fitness routines, or someone's opinion of the latest film, UBlog is the place to share it.
          UBlog is a free and open platform for everyone to use. Get started today and tell us what's on your mind!
        </p>
      </div>
    </div>
    <div>
      <h1 class="text-2xl font-semibold mb-4">Our Team</h1>
      <div class="grid grid-cols-1 lg:grid-cols-2 auto-rows-max gap-4">
        {{#each globalData.teamMembers}}
          {{> card-team-member imageName=this.imageName name=this.name details=this.details }}
        {{/each}}
      </div>
    </div>
  </div>
</div>