<div class="space-x-6">
    <!-- Inspirational Quote -->
    <div class="block">
        <h1 class="text-center font-bold text-xl">Yesterday is history, Tomorrow is a mystery, but Today is a gift. That is why it is called the present.</h1>
    </div>

    <!-- Person 1 -->
    <div class="flex flex-col gap-2 w-fit p-10">
        <div class="flex flex-row items-center gap-4">
            <div class="avatar w-64">
                <div class="mask mask-circle">
                    <img class="float-left" src="assets/images/esteban.jpg"/>
                </div>
            </div>
            <ul>
                <li><h3 class="font-bold text-lg">Esteban Tinajero</h3></li>
                <li>Junior at California State University, Fullerton</li>
                <li>Computer Science, Full Stack Engineering</li>
                <li>Located in Orange</li>
            </ul>
        </div>
    </div>
    <!-- Person 2 -->
    <div class="flex flex-col gap-2 w-fit p-10">
        <div class="flex flex-row items-center gap-4">
            <div class="avatar w-64">
                <div class="mask mask-circle">
                    <img class="float-left" src="assets/images/amritpaul.jpg"/>
                </div>
            </div>
            <ul>
                <li><h3 class="font-bold text-lg">Amritpaul Sidhu</h3></li>
                <li>Student at California State University, Fullerton</li>
                <li>Located in San Bernadino County</li>
            </ul>
        </div>
    </div>

    <!-- Person 3 -->
    <div class="flex flex-col gap-2 w-fit p-10">
        <div class="flex flex-row items-center gap-4">
            <div class="avatar w-64">
                <div class="mask mask-circle">
                    <img class="float-left" src="assets/images/gerami.jpg"/>
                </div>
            </div>
            <ul>
                <li><h3 class="font-bold text-lg">Gerami Sadeghi</h3></li>
                <li>Senior Software Developer Engineer at California State University, Fullerton</li>
                <li>Systems Programmer at California State University, Fullerton</li>
            </ul>
        </div>
    </div>

    <!-- Person 4 -->
        <div class="flex flex-col gap-2 w-fit p-10">
        <div class="flex flex-row items-center gap-4">
            <div class="avatar w-64">
                <div class="mask mask-circle">
                    <img class="float-left" src="assets/images/ali.jpg"/>
                </div>
            </div>
            <ul>
                <li><h3 class="font-bold text-lg">Ali Zand</h3></li>
                <li>CSUF Junior Student</li>
                <li>Studying to become full stack developer</li>
                <li>Located in Orange County</li>
                <li>Loves playing board games and video games</li>
                <li>Watches anime and plays sports</li>
            </ul>
        </div>
    </div>
</div>