<div>
    <!-- Inspirational Quote -->
    <div>
        <h1>Yesterday is history, Tomorrow is a mystery, but Today is a gift. That is why it is called the present.</h1>
    </div>
    <!-- Person 1 -->
    <div>
        <img src="assets/images/esteban.jpg"/>
        <h3>Esteban Tinajero</h3>
        <ul>
            <li>Junior at California State University, Fullerton</li>
            <li>Computer Science, Full Stack Engineering</li>
            <li>Located in Orange</li>
        </ul>
    </div>

    <!-- Person 2 -->
    <div>
        <img src="assets/images/amritpaul.jpg" />
        <h3>Amritpaul Sidhu</h3>
        <ul>
            <li>*Insert what they did here*</li>
        </ul>
    </div>

    <!-- Person 3 -->
    <div>
        <img src="assets/images/gerami.jpg"/>
        <h3>Gerami Sadeghi</h3>
        <ul>
            <li>*Insert what they did here*</li>
        </ul>
    </div>

    <!-- Person 4 -->
    <div>
        <img src="assets/images/ali.jpg" />
        <h3>Ali Zand</h3>
        <ul>
            <li>CSUF Junior Student</li>
            <li>Studying to become full stack developer</li>
            <li>Loves playing board games and video games</li>
            <li>Watches anime and plays sports</li>
        </ul>
    </div>
</div>